<h1>Lista de Horas de Proyeccion</h1>
<a routerLink="/admin/hour/add" class="btn btn-sm btn-success mb-2">Crear Hora de Proyeccion</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="head">Hora</th>
            <th class="head">Descripcion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hour of hours">
            <td>{{hour.hour.hours}}:{{hour.hour.minutes}}</td>
            <td>{{hour.description}}</td>

        </tr>
        <tr *ngIf="!hours">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>